*~
*.mdv
*.mdm
*.pdf
*.swp
*.swo
*.ipynb_checkpoints
set01/q2/q2_functions_config.csv
set01/q2/q2_real_time_clock_o3_stef_assignment_1
set01/q2/q2_real_time_clock_o0_stef_assignment_1
set01/q2/timing-results-o0.csv
set01/q2/timing-results-o3.csv
